<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
        
    <div id="root">
        
        <div class="app-wrapper">

            <!-- App Container  -->
            <div class="app-container">

                <!-- Left column  -->
                <div class="col-l">

                    <!-- User bar  -->
                    <div class="user-bar grey-background">

                        <!-- User info  -->
                        <div class="user-info">
                            <div class="user-info-img">
                                <img src="img/avatar_io.jpg" alt="io">
                            </div>
                            <span>Nome utente</span>
                        </div>

                        <!-- Buttons  -->
                        <div class="bar-buttons">
                            <span class="icon"><i class="fas fa-circle-notch"></i></span>
                            <span class="icon"><i class="fas fa-comment-alt"></i></span>
                            <span class="icon"><i class="fas fa-ellipsis-v"></i></span>
                        </div>

                    </div>

                    <!-- Notifications bar  -->
                    <div class="notifications-bar">
                        <span><i class="fas fa-bell-slash"></i></span>
                        <div class="notification-txt">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- Search Bar  -->
                    <div class="search-bar">
                        <span class="icon"><i class="fas fa-search"></i></span>
                        <input 
                            type="text" 
                            placeholder="Crea o inizia una nuova chat"
                            v-model="searchBarText"
                            @keyup="searchContact"
                        >   
                    </div>

                    <!-- Chat List  -->
                    <div class="chat-list">
                        <ul>

                            <!-- Single chat  -->
                            <li 
                                v-for="(contact, index) in contacts"
                                v-show="contact.visible" 
                                class="single-chat"
                                :class="{ active: isActive(index) }"
                                @click="changeActiveContact(index)"
                            >
                                <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                                {{ contact.name }}
                            </li>

                        </ul>
                    </div>

                </div>

                <!-- Right column  -->
                <div class="col-r">

                    <!-- Contact Bar  -->
                    <div class="contact-bar grey-background">

                        <!-- Contact info  -->
                        <div class="contact-info">
                            <img :src="'img/avatar' + contacts[activeContactIndex].avatar + '.jpg'" :alt="contacts[activeContactIndex].name">
                            <span class="contact-txt">
                                <p class="name">{{ contacts[activeContactIndex].name }}</p>
                                <p class="access">Ultimo accesso oggi alle</p>
                            </span>
                        </div>

                        <!-- Buttons  -->
                        <div class="bar-buttons">
                            <span class="icon"><i class="fas fa-search"></i></span>
                            <span class="icon"><i class="fas fa-paperclip"></i></span>
                            <span class="icon"><i class="fas fa-ellipsis-v"></i></span>

                        </div>

                    </div>

                    <!-- Chat  -->
                    <div class="chat">
                        <div class="chat-container">

                            <!-- Single message -->
                            <div 
                                v-for="(message, index) in contacts[activeContactIndex].messages" 
                                class="message"
                                :class="{ sent: isSent(index), received: isReceived(index) }"
                            >
                                <div>{{ message.text }}</div>

                                <!-- Drop Down menu  -->
                                <div class="drop-down" @click="toggleDropDown(message)">
                                    <i class="fas fa-angle-down"></i>
                                </div>

                                <div class="drop-down-menu" :class="message.dropDown">
                                    <div>Message info</div>
                                    <div :class="{ invisible: message.status === 'received' }">Delete message</div>
                                </div>

                                <span class="time">{{ message.date }}</span>
                            </div>

                        </div>
                    </div>

                    <!-- Input bar  -->
                    <div 
                        class="input-bar grey-background">
                        <span><i class="far fa-smile"></i></span>
                        <input 
                            type="text" 
                            v-model="userNewMessage" 
                            placeholder="Scrivi un messaggio"
                            @keyup.enter="sendMessage"
                        >
                        <span><i class="fas fa-microphone"></i></span>
                    </div>

                </div>
            </div>

        </div>       

    </div>  


    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>